body {
     font-family: Arial, sans-serif;
}

.container {
     width: 80%;
     margin: auto;
}

.input-group {
     margin-bottom: 10px;
}

label {
     display: block;
}

select,
input {
     width: 100%;
     padding: 5px;
}

.button-container {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.first-button-container {
     align-items: center;
     justify-content: center;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     width: 100%;
}

.second-button-container {
     align-items: center;
     justify-content: space-around;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     width: 100%;
     margin-bottom: 20px;
}

button {
     margin-top: 10px;
     margin-right: 40px;
     margin-left: 40px;
     margin-bottom: 10px;
}

#calculate {
     background-color: blue;
     color: white;
     width: 60%;
}

#clear {
     background-color: red;
     color: white;
     width: 15%;
}

#print,
#save {
     background-color: green;
     color: white;
     width: 15%;
}

.input-table {
     display: table;
     width: 100%;
}

.input-row {
     display: table-row;
}

.input-cell {
     display: table-cell;
     padding: 8px;
     vertical-align: middle;
}

.label {
     font-weight: bold;
}

.input-cell.input {
     width: 200px;
     /* or whatever width you prefer */
}

.input-cell.input input {
     width: 100%;
     padding: 5px;
}

/* Add any additional styling you need */
.footer-container {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     text-align: left;
     padding: 20px;
     background-color: #f5f5f5;
     font-family: Arial, sans-serif;
     width: 100%;
   }
   .footer-section {
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
   }
   .footer-section h3 {
     margin: 0;
     padding-bottom: 10px;
     font-size: 20px;
     text-decoration: underline;
     color: #000;
   }
   .footer-section ul {
     list-style: none;
     padding: 0;
   }
   .footer-section ul li {
     padding: 2px 0;
     color: #000;
   }
   .footer-section ul li a {
     text-decoration: none;
     color: inherit;
   }
   .footer-section .linker-links {
     display: flex;
     justify-content: space-between;
   }
   .footer-section .social-icons {
     display: flex;
   }
   .footer-section .social-icons a {
     margin-right: 10px;
   }
   .footer-section .social-icons img {
     width: 20px;
     height: auto;
   }
   #svgImageFacebook {
     filter: invert(33%) sepia(85%) saturate(4141%) hue-rotate(208deg) brightness(101%) contrast(101%);
   }
   #svgImageYoutube {
     filter: invert(46%) sepia(97%) saturate(7461%) hue-rotate(356deg) brightness(100%) contrast(100%);
   }
   #svgImageTwitter {
     filter: invert(29%) sepia(94%) saturate(7492%) hue-rotate(203deg) brightness(91%) contrast(91%);
   }
   .footer-bar {
     width: 100%;
     height: 60px;
     background-color: rgb(190, 220, 238);
     color: #000000;
     font-family: Arial, sans-serif;
     align-content: center;
     justify-content: flex-start;
 }
 
 .footer-bar img {
     vertical-align: middle;
     margin-right: 10px;
     padding-left: 30px;
 }
 
 .footer-bar h1 {
     display: inline-block;
     font-size: 18px;
     margin-left: 20px;
 }
 
 .footer-bar h2 {
     display: inline-block;
     font-size: 18px;
     font-style: italic;
 }