@media print {
     body,
     html {
          print-color-adjust: exact;
          -webkit-print-color-adjust: exact;
     }
}

.on-print-header {
     display: none;
     margin-right: 15%;
     font-size: 25px;
}

.on-print-footer {
     display: none;
     
}

.on-print-footer p {
     font-size: 10px;
}

body {
     font-family: Arial, sans-serif;
}

.hidden {
     display: none;
}

.header {
     width: 100%;
}

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     background-color: rgb(161, 220, 236);
     width: 100%;
}

.nav-top-left {
     display: flex;
     font-style: italic;
}

.logo img {
     width: 75px;
}

.nav-links {
     list-style: none;
}

.nav-links li {
     display: inline;
     margin-right: 100px;
}

.nav-links a {
     text-decoration: none;
     color: black;
     font-weight: bold;
}

.lang-switch {
     background: transparent;
     cursor: pointer;
     border: none;
     width: 24px;
     height: 16px;
}

.language-selector {
     justify-content: center;
     width: 15%;
}

.language-selector .lang-switch img {
     width: 24px;
}

.title {
     background-color: rgb(227, 246, 252);
     width: 100%;
     color: black;
     text-align: left;
     padding: 20px 0;
     padding-left: 30px;
}

.title h1 {
     margin: 0;
     font-size: 2em;
}

.container {
     width: 80%;
     margin: auto;
}

.unitOfMeasurement {
     width: 12%;
}

.input-group {
     margin-bottom: 10px;
}

label {
     display: block;
}

select,
input {
     width: 100%;
     padding: 5px;
}

.button-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     width: 100%;
}

.first-button-container {
     align-items: center;
     justify-content: center;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     width: 100%;
}

.second-button-container {
     align-items: center;
     justify-content: space-around;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     width: 100%;
     margin-bottom: 20px;
}

button {
     margin-top: 10px;
     margin-right: 40px;
     margin-left: 40px;
     margin-bottom: 10px;
     height: 35px;
}

#calculate {
     background-color: blue;
     color: white;
     width: 60%;
}

#clear {
     background-color: red;
     color: white;
     width: 15%;
}

#print,
#save {
     background-color: green;
     color: white;
     width: 15%;
}

.input-table {
     display: table;
     width: 100%;
}

.input-header {
     display: table-cell;
     background-color: rgb(0, 112, 219);
     width: 1%;
     padding: 10px;
     height: 30px;
}

.input-row {
     display: table-row;
}

.input-cell {
     display: table-cell;
     padding: 8px;
     vertical-align: middle;
     background-color: rgb(227, 246, 252);
}

.label {
     font-weight: bold;
}

.input-cell.input {
     width: 200px;
     background-color: rgb(201, 229, 238);
}

.input-cell.input input {
     width: 90%;
     padding: 5px;
     margin: 5px;
}

.input-cell.select select {
     background-color: rgb(201, 229, 238);

}

.results-first-column-row {
     width: 20%;
     background-color: rgb(227, 246, 252);
}

.results-second-column-row {
     width: 30%;
     background-color: rgb(201, 229, 238);
}

.results-third-column-row {
     width: 50%;
     background-color: rgb(201, 229, 238);
}

.footer-container {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     text-align: left;
     padding: 20px;
     background-color: #f5f5f5;
     font-family: Arial, sans-serif;
     width: 100%;
}

.footer-section {
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
}

.footer-section h3 {
     margin: 0;
     padding-bottom: 10px;
     font-size: 20px;
     text-decoration: underline;
     color: #000;
}

.footer-section ul {
     list-style: none;
     padding: 0;
}

.footer-section ul li {
     padding: 2px 0;
     color: #000;
}

.footer-section ul li a {
     text-decoration: none;
     color: inherit;
}

.footer-section .linker-links {
     display: flex;
     justify-content: space-between;
}

.footer-section .social-icons {
     display: flex;
}

.footer-section .social-icons a {
     margin-right: 10px;
}

.footer-section .social-icons img {
     width: 20px;
     height: auto;
}

.footer-bar .on-print-footer-info {
     display: block;
     justify-content: flex-end;
     width: 100%;
     margin-left: 40px;
}

.footer-bar .social-icons {
     display: block;
     justify-content: center;
     flex-direction: row;
}

.footer-bar .social-icons a {
     margin-right: 5px;
}

.footer-bar .social-icons img {
     width: 20px;
     height: auto;
}

#svgImageFacebook {
     filter: invert(33%) sepia(85%) saturate(4141%) hue-rotate(208deg) brightness(101%) contrast(101%);
}

#svgImageYoutube {
     filter: invert(46%) sepia(97%) saturate(7461%) hue-rotate(356deg) brightness(100%) contrast(100%);
}

#svgImageTwitter {
     filter: invert(29%) sepia(94%) saturate(7492%) hue-rotate(203deg) brightness(91%) contrast(91%);
}

.footer-bar {
     height: 60px;
     background-color: rgb(190, 220, 238);
     color: #000000;
     font-family: Arial, sans-serif;
     align-content: center;
     justify-content: flex-start;
     display: flex;
     flex-direction: row;
     box-sizing: border-box;
     width: 100%;
}

.footer-bar img {
     vertical-align: middle;
     margin: 10px;
}

.footer-bar h1 {
     display: inline-block;
     font-size: 18px;
     margin-left: 20px;
}

.footer-bar h2 {
     display: inline-block;
     font-size: 18px;
     font-style: italic;
}

.table-header {
     background-color: #007bff;
     text-align: center;
     padding: 10px 0;
}

table {
     width: 80%;
     margin: auto;
     border-collapse: collapse;
     margin-bottom: 300px;
}

th,
td {
     border: 1px solid #dee2e6;
}

th {
     height: 50px;
     font-size: 20px;
     text-decoration: underline;
     color: #000000;
}

td {
     height: 50px;
     padding: 10px;
     background-color: #f8f9fa;
}

.risk-level {
     background-color: #e9ecef;
}